#header {
    text-align: center;
}

#canvas {
    position: absolute;
    top: 10vh;
    right: 30vh;
    height: 40vh;
    width: 40vh;
}

#foreground {
    position: absolute;
    top: 10vh;
    right: 30vh;
    height: 40vh;
    width: 40vh;
}

#member1 {
    position: absolute;
    top: 50vh;
    right: 65vh;
    height: 40vh;
    width: 30vh;
}

#member1-description {
    position: absolute;
    top: 45vh;
    right: 65vh;
    font-size: 18px;
    font-family: Ubuntu, sans-serif;
}

#member2 {
    position: absolute;
    top: 50vh;
    right: 35vh;
    height: 40vh;
    width: 30vh;
}

#member2-description {
    position: absolute;
    top: 45vh;
    right: 35vh;
    font-size: 18px;
    font-family: Ubuntu, sans-serif;
}

#member3 {
    position: absolute;
    top: 50vh;
    right: 5vh;
    height: 40vh;
    width: 30vh;
}

#member3-description {
    position: absolute;
    top: 45vh;
    right: 5vh;
    font-size: 18px;
    font-family: Ubuntu, sans-serif;
}

#container {
    position: relative;
}

body {
    width: 960px;
    margin: 0 auto;
}

#video {
    height: 30vh;
    width: 40vw;
}